@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    font-family: 'Raleway', sans-serif;
    background: #F6F5FA;
}
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    background: #ffffff;
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    -webkit-box-shadow: 3px 0px 12px -2px rgba(0,0,0,0.20);
    -moz-box-shadow: 3px 0px 12px -2px rgba(0,0,0,0.20);
    box-shadow: 3px 0px 12px -2px rgba(0,0,0,0.20);
}

#sidebar.active {
    margin-left: -250px;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}


#sidebar .sidebar-header {
    padding: 20px;
    background: #ffffff;
    margin-top: 15px;
}
#sidebar .sidebar-header h3 {
    color: #3F1030;
}
#sidebar ul.components {
    padding: 115px 55px;;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 15pt;
    display: block;
    color: #A97EA0;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    background-size: 300px 100px;
    background-size: 10px;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}
li {
    position: relative;
}
ul li:nth-child(1):before {
    content: ' ';
    position: absolute;
    top: 12px;
    left: -20px;
    width: 50px;
    height: 50px;
    background: url("./images/dash.svg") no-repeat;
}

ul li:nth-child(2):before {
    content: ' ';
    position: absolute;
    top: 17px;
    left: -20px;
    width: 50px;
    height: 50px;
    background: url("./images/email.svg") no-repeat;
}

ul li:nth-child(3):before {
    content: ' ';
    position: absolute;
    top: 18px;
    left: -20px;
    width: 50px;
    height: 50px;
    background: url("./images/Notification.svg") no-repeat;
}

ul li:nth-child(4):before {
    content: ' ';
    position: absolute;
    top: 16px;
    left: -20px;
    width: 50px;
    height: 50px;
    background: url("./images/team.svg") no-repeat;
}


/*Search bar top */

.fixed-top {
    z-index: -1;
}